[Unit]
Description=Puente entre la estación meteorológica y MQTT
After=network.target

[Service]
ExecStart=@PREFIX@/bin/meteo2mqtt
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
