
# Python files
*.pyc
*.pyo

# Project files

*.tmproj
.DS_Store
.idea
.project
.pydevproject
.settings
.codeintel
.vscode
.history


.directory

# Virtualenv files
venv
.venv

# Sublime project files
*.sublime-*

*.egg*
*.swp

# Keys
secrets.py*
