[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
psycopg2 = "*"
ipython = "*"
ipdb = "*"

[packages]
sqlalchemy = "*"
sqlalchemy-utils = "*"
eve-sqlalchemy = "*"
passlib = "*"
influxdb = "*"
gunicorn = "*"
pep8 = "*"
eve = "*"
